.swiper {
  width: 100%;
  height: 100%;
  max-height: 1000px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination .swiper-pagination-bullets .swiper-pagination-vertical {
  display: none;
}

.side-item {
  padding-left: 15px;
  position: relative;
  display: inline-block;
}

.nav-menu-btn {
  padding: 10px 27px;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: capitalize;
  background-image: linear-gradient(to right, #ff2500, #ff7100);
  border-radius: 50px;
  transition: 0.7s;
  border: none;
}
